*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-color: #2F4454;
    --general-text: white;
    --special-text: #DA7B93;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--general-text);
}

body {
    background: var(--bg-color);
    color: var(--general-text);
    width: 83%;
    margin: auto;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

ul li a {
    color: var(--general-text);
}

.text-design {
    color: var(--special-text);
}

.resume {
    border: 2px solid var(--special-text);
    padding: 10px 20px;
    margin: 30px 0;
}

.hero-text, p {
    margin-bottom: 15px;
}

#contact {
    margin-top: 70px;
}